*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
app/iosApp/Podfile.lock
app/iosApp/Pods/*
app/iosApp/iosApp.xcworkspace/*
app/iosApp/iosApp.xcodeproj/*
!app/iosApp/iosApp.xcodeproj/project.pbxproj
shared/shared.podspec
/kotlin-js-store/
/shared/karma.config.d/
/shared/webpack.config.d/
